<p>
    <%= comment.content
            %>
            <br>
            <small>
                    <%= comment.user.name
                            %>
            </small>
            <small>
                    <a href="/comments/destroy/<%= comment._id %>">Delete comment</a>
            </small>
            <small>
                <a href="/likes/toggle">Likes</a>
            </small>
</p>