<link rel="stylesheet" href="/css/header.css">
<header>
    <div id="nav-links">

    <h1 id="main-heading">Mingle</h1>
    
    <% if (locals.user) {%>
        <div>
            <a href="/users/profile">
                <%= user.name %>
            </a>
        </div>
        <div>
            <a href="/users/sign-out">
                Sign Out
            </a>
        </div>
    <%} else {%>
        <div>
            <a href="/users/sign-in">
                Sign In
            </a>
        </div>
        <div>
            <a href="/users/sign-up">
                Register
            </a>
        </div>
    </ul>
    <%}%>
</div>
</header>