<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
        <div class="home-content">
                <div class="home-left-container">
                    <h1 id="mingle-logo">Mingle</h1>
                    <h2 id="mingle-quote" style="margin:2rem;">Mingle helps you connect to enjoy conversations</h2>
                </div>
        
                <div class="sign-in-container">
                        <div class="sign-in-form">
                              <form action="/users/create-session" method="POST">
                                <div class="form-element">
                                        <input class="form-input-field" type="email" size="35" name="email" placeholder="Enter Email" required>
                                </div>
                                
                                <div class="form-element">
                                        <input class="form-input-field" type="password" size="35" name="password" placeholder="Enter Password" required>
                                </div>
                                     
                                        <button class="sign-in-button" type="submit" value="sign In">Log In</button>
                                </form>
                        </div>
                        <button class="sign-up-button" value="sign-up">Create an account</button>
        
                </div>
        </div>
</div>
