//name of the app
#main-heading{
   color:whitesmoke;
   width:80%;

}
#nav-links{
    list-style-type: none;
    display:flex;
    height:6rem;
    margin:0;
    border-bottom:1px solid white;
    background-image:#171515;
    div{
        margin-top:2rem;
        margin-left: 1.5rem;
        a{
            color: whitesmoke;
            
            font-size: larger;
        }
    }
    
}