#main-heading {
  color: whitesmoke;
  width: 80%; }

#nav-links {
  list-style-type: none;
  display: flex;
  height: 6rem;
  margin: 0;
  border-bottom: 1px solid white;
  background-image: #171515; }
  #nav-links div {
    margin-top: 2rem;
    margin-left: 1.5rem; }
    #nav-links div a {
      color: whitesmoke;
      font-size: larger; }
